<nav class="navbar">
    <div class="logo">
        <a href="../index.html">ShopSphere</a>
    </div>

    <ul class="nav-links">
        <li><a href="../index.html" class="active">Home</a></li>
        <li><a href="../pages/shop.html">Shop</a></li>
        <li><a href="../pages/categories.html">Categories</a></li>
        <li><a href="../pages/about.html">About</a></li>
        <li><a href="../pages/contact.html">Contact</a></li>
    </ul>

    <div class="nav-icons">
        <a href="../pages/wishlist.html" title="Wishlist">
            <i class="fas fa-heart"></i>
        </a>

        <a href="../pages/cart.html" title="Cart">
            <i class="fas fa-shopping-cart"></i>
        </a>

        <a href="../pages/login.html" class="login-btn">
            Login
        </a>
    </div>
</nav>